.git
.github

__pycache__
*.pyc
*.pyo
*.pyd

.pytest_cache
pytest.ini

.env

venv
.venv
env

frontend/node_modules

dataset/raw
dataset/cleaned
dataset/feature_engineered
dataset/processed

notebooks

powerbi

presentations

docs

deployment

*.ipynb
*.pbix
*.mp4
*.pdf

.gitignore
README.md