# ============================
# Python
# ============================
__pycache__/
*.py[cod]
*.egg-info/

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
*.log

# ============================
# Datasets (Do NOT Upload)
# ============================
# Ignore dataset contents
dataset/raw/*
dataset/cleaned/*
dataset/processed/*
dataset/feature_engineered/*
dataset/sample/*

# Keep documentation
!dataset/README.md

# Ignore large files
*.pkl

# ============================
# ML Models
# ============================
*.pkl
*.joblib

# ============================
# Node
# ============================
frontend/node_modules/

# ============================
# Build
# ============================
dist/
build/

# OS Files
.DS_Store
Thumbs.db